{% extends "main/base.html" %}
{% block stuff %}
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">My List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Add To Do Item</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>To Do List Page</h1>
{% endblock stuff %}